* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  height: 100vh;
}

.site {
  height: 100%;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}
